:root {
  --text-clr: #666;
  --sec-clr: #fff;
}

html {
  margin: 0;
  padding: 0;
}

.bg-img {
  height: 70vh;
  width: 100%;
  background: url("../image/background.jpg") no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.nav {
  position: relative;
  top: 60px;
  width: 80%;
  background: rgb(138, 138, 138);
  background:
    linear-gradient(
      180deg,
      rgba(138, 138, 138, 1) 0%,
      rgba(119, 119, 119, 1) 25%,
      rgba(96, 96, 96, 1) 50%,
      rgba(119, 119, 119, 1) 75%,
      rgba(138, 138, 138, 1) 100%
    );
  height: 40px;
  margin: auto;
  border-radius: 5px;
}

.nav ul {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav li {
  border: 1px solid black;
  width: 100%;
}

.nav div {
  border: 1px solid black;
}

.nav a {
  display: inline-block;
  color: var(--sec-clr);
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin: 0 10px;
}
