:root {
  --text-clr: #666;
  --sec-clr: #fff;
}

html {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, sans-serif;
}

.grid {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 100%;
}

.bg-img {
  height: 70vh;
  width: 100%;
  background: url("../image/background.jpg") no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.nav {
  position: relative;
  top: 60px;
  width: 980px;
  height: 33px;
  font-size: 12px;
  line-height: 18px;
  background: rgb(124, 122, 122);
  background: linear-gradient(180deg, rgba(124, 122, 122, 1) 0%, rgba(131, 127, 127, 1) 30%, rgba(82, 80, 80, 1) 50%, rgba(84, 82, 82, 1) 70%, rgba(79, 77, 77, 1) 100%);
  margin: auto;
  border-radius: 5px;
}

.nav ul {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav li {
  display: flex;
  align-items: center;
  border: 1px solid #686666;
  width: 100%;
  height: 100%;
}

.nav a {
  display: inline-block;
  color: var(--sec-clr);
  font-weight: 400;
  width: 100%;
  text-align: center;
  height: 100%;
  margin-top: 15%;
}

.nav a:hover {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--sec-clr);
  font-weight: 400;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: rgba(61, 57, 57, 0.705);
}

.nav input {
  width: 120px;
  border-radius: 20px;
  background: rgb(124, 122, 122);
  background: linear-gradient(180deg, rgba(124, 122, 122, 1) 0%, rgba(131, 127, 127, 1) 30%, rgba(82, 80, 80, 1) 50%, rgba(84, 82, 82, 1) 70%, rgba(79, 77, 77, 1) 100%);
}

.search {
  align-items: center;
  padding-right: 10px;
}

.search i {
  color: var(--sec-clr);
  position: relative;
  left: 20px;
}

/* Headers section */

/* Promotions section */

/* Footer section */

footer {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  font-size: 10px;
}
